DATA TYPE AND STRUCTURES QUESTIONS
1.What are data structures and why are they important ?

Ans=Because it is specific way of organizing and sorting data in computer system .

It is important because it provide effective and easy to write code and understand.

It also used in handle data and optimizing operation such as searching ,inseration etc.

2.Explain the difference between mutable and immutable data typeswith examples?

Ans=Mutable data type which can be changed or modified after creation such as list,dictionaries,set.

Immutable data type which cannot modified after creation such as tuples,string etc.

3.What are the main difference between lists and tuples in python?

Ans.=The difference between tuples and list is list is mutable data type while tuples is immutable data types.

4.Describes how dictionaries store data.

Ans=In form of key and values pair.

5.Why might you use a set instead of a list in python?

Ans =Because set do membership tests a lot efficency than list.

6.What is a string in python, and how is it different from a list?

Ans. A string is a sequence of characters inside quotes unlike lists are string is immutable.

7. How do tuples ensure data entergrity in python?

Ans. tuples cannot be changed after creation, so they prevent accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in python?

And. Ahash table is a data structure that stores key-valuepairs using a unique key in python and dictionories are implemented using hash tables.

9. Can lists contain different data types in python?

Ans. Yes a list can store different types like numbers,string,and even othor lists.

10. Explain why strings are immutable in python.

Ans. because string cennot be change after creation and if you modify a string then python creates a new one.

11. What advantage do dictionories offer over list for certain task.

Ans. Dictionories provide fast lookups using keys while list require searching through all elements.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans. When stroring fixed data like coordinates (x, Y), since tuple cannot be modified accidentally.

13. How do sets handle dublicate values in python?

Ans. Sets automatically remove dublicate values.

14. How does the "n" keyword work differently for lists and dictionories?

Ans. lists check if a value value exist and dictionories check if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No i can't modify the elements of tuple becouse tuples are immutable.

16. What is nested dictionory,and give me example of its use case.

Ans. It is a dictionary inside another dictionary.

In [2]:
#student = {"name": "Alice", "grades": {"math": 90, "science": 85}}

17. Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary is o(1) (constant time) becouse it uses a hash table.

18. In what situations are lists preferred over dictionories?

ans. lists preferred over dictionories when working with siquential data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.

Ans. Older Python versions (before 3.7) did not guarantee order. However, since Python 3.7, dictionaries maintain insertion order but do not allow indexing like lists.

20. Explain a difference between a list and a dictionary in a terms of data retrieval.

Ans. Lists can access data by index but dictionaries can access data by key.

#Practical questions

1. Write a code to create a string with your name and print it.

In [3]:
name = "vivekanand"
print(name)

vivekanand

2. Write a code to Find a length of the string "Hello Worls

In [4]:
print(len("Hello World"))

11

3. Write a code of slice the first 3 characters from the string"python programming".

In [5]:
print("python programming"[0:3])

pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "i like apple".

In [7]:
print("i like apple".replace("apple", "orange"))

i like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list[1, 2, 3, 4].

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to Remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the secend element in the list['a','b','c','d'].

In [11]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. Write a code to reversethe list [10,20,30,40,50].

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1


15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1, 2, 3]
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print("my_list, my_tuple, my_dict")

my_list, my_tuple, my_dict

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [29]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 17, 19, 48, 92]

28. Write a code to create a list with strings and print the element at the third index.

In [30]:
words = ["apple", "banana", "cherry", "date", "guava"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [32]:
words = ["apple", "banana", "cherry", "apple"]
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}